/* <i class="fa-solid fa-fire"></i> 불꽃 */
/* <i class="fa-solid fa-heart"></i> 하트 */

/* cb == checkbox */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}

label:hover {
  cursor: pointer;
}
i:hover {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
a:link {
  color: black;
}

.fs-32 {
  font-size: 32px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.c-black {
  color: black;
}

.checkboxStyle-circle {
  display: inline-block;
  background-color: white;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
}

.nextBtn {
  border-radius: 5px;
  /* background-color: rgb(255, 35, 35); */
  background-color: none;
  color: black;
  font-weight: 700;
  box-shadow: 2px 2px 5px 3px #e6e6e6;
  width: 70px;
}

.heartStyle {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.3;
  font-size: 50px;
  transition: all 0.2s;
}
.heartStyle:hover {
  color: red;
  cursor: pointer;
}
.cbSt-heart:checked + label i {
  opacity: 1;
  color: rgb(255, 61, 61);
}

.checkBoxStyle-16 {
  /* 16px기준 */
  display: inline-block;
  background-color: #e6e6e6;
  width: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: 600;
  vertical-align: bottom;
  line-height: 1.3;
}

.checkBoxStyle-24 {
  /* 16px기준 */
  display: inline-block;
  background-color: #e6e6e6;
  width: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: 600;
  vertical-align: bottom;
  line-height: 1.3;
  margin-bottom: 5px;
}

.nav {
  box-shadow: 0px 1px 3px 0 lightgray;
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: #f7323f;
  z-index: 1000;
  transition: all 1s;
  display: flex;
  justify-content: center;
}

.fa-user {
  color: white;
}

.navTit {
  font-size: 35px;

  transition: font-size 1s;
  font-weight: 600;
  color: white;
}
.centerCont {
  /* border: 1px solid black; */
  background-color: white;
  min-width: 768px;
  width: 1024px;
  /* height: 500px; */
  padding: 10px;
  overflow: hidden;
}

.emptyBoxByNav {
  height: 90px;
  /* border: 1px solid black; */
}

.displayNone {
  display: none;
}

.redBtnSt {
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 61, 61);
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}
.whiteBtnSt {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 20px;
}

.cb-square-16 {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 1.2;
  border: 1px solid #e6e6e6;
  font-weight: 600;
  color: #e6e6e6;
  background-color: white;
}
.navCenterCont {
  height: inherit;
}

.navCenterCont > ul {
  display: flex;
  width: 1024px;
  height: inherit;
}
.navCenterCont > ul > li {
  height: inherit;
}

.navCenterCont > ul > li:nth-child(1) {
  width: 100px;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.navCenterCont > ul > li:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navCenterCont > ul > li:nth-child(3) {
  width: 100px;
  position: relative;
}
.navCenterCont > ul > li:nth-child(1) img {
  width: 80px;
}
.navCenterCont input {
  width: 80%;
  margin-top: 10px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0 5px;
}
.navCenterCont li:nth-child(3) i {
  margin-top: 15px;
  margin-left: 50px;
  font-size: 20px;
}
.navCenterCont li:nth-child(3) img {
  width: 120px;
  right: 28px;
  top: -3px;
}
.navCenterCont li:nth-child(3) a {
  display: inline-block;
  margin-top: 14px;
}
.navCartBox div {
  position: absolute;
  top: 13px;
  left: 18px;
  font-size: 14px;
}

.navCartBox {
  position: absolute;
  height: 80px;
  top: 0;
  right: 35px;
  display: none;
}

.navCategoryTab {
  display: flex;
  padding: 5px 0;
}
.navCategoryTab li {
  width: 100%;
  height: 35px;
  text-align: center;
}
.navCategoryTab span {
  display: inline-block;
  height: 100%;
}
.navCategoryTab a {
  display: block;
  height: 100%;
  font-weight: 800;
}
.navCategoryTab a:hover span {
  border-bottom: 3px solid rgb(255, 61, 61);
  color: rgb(255, 61, 61);
  font-weight: 800;
}

#mainMapBox svg {
  width: 400px;
}

.fill-red {
  fill: rgb(255, 61, 61) !important;
}
#mainMapBox {
  position: relative;
  width: 400px;
}
#mainMapBox img {
  position: absolute;
  width: 35px;
  transition: all 1s;
  display: none;
}
/* 13,22 */
#m3 {
  left: 150px;
  top: 105px;
}
#m4 {
  left: 235px;
  top: 90px;
}
/* 12, 21 */
#m5 {
  left: 130px;
  top: 205px;
}

#m7 {
  left: 190px;
  top: 180px;
}

/* 20 */
#m8 {
  left: 265px;
  top: 215px;
}

#m10 {
  left: 146px;
  top: 270px;
}
/*19  */
#m11 {
  left: 128px;
  top: 347px;
}
/* 23,15 */
#m13 {
  left: 245px;
  top: 310px;
}
#m16 {
  left: 102px;
  top: 440px;
}
.m16:hover #m16 {
  background-color: black;
}
.whiteBtnSt:hover {
  cursor: pointer;
  border: 1px solid black;
}

.filterCbLabel {
  line-height: 0.9;
  width: 19px;
  height: 18px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid gray;
  color: white;
}
#searchCont {
  box-shadow: 0 1px 3px 0 gray;
  border-radius: 10px;
  height: 80px;
  display: flex;
  padding: 10px;
  white-space: nowrap;
  width: 100%;
}
#searchCont > div {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  width: 30%;
}
#searchCont input {
  /* height: 40px; */
  font-size: 18px;
  border: none;
  outline: none;
  font-weight: 600;
}

#searchCont input:hover {
  cursor: pointer;
}
#searchCont i {
  font-size: 20px;
}

#searchDetination {
  position: absolute;
  width: 350px;
  min-height: 200px;
  z-index: 50000;
  left: -16px;
  top: 70px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 5px 0 gray;
  padding: 10px;
  display: none;
}
#searchDetination div {
  margin-bottom: 5px;
}
.searchRecnetContent {
  padding: 5px 10px;
  background-color: #e6e6e6;
  border-radius: 10px;
  font-size: 14px;
}
.searchRecnetContent i {
  float: right;
  color: gray;
}
.searchRecnetContent i:hover {
  color: black;
}
.searchRecnetContent p:nth-child(2) {
  font-size: 12px;
  color: gray;
}
#setPeople {
  position: absolute;
  width: 280px;
  min-height: 100px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 5px 0 gray;
  z-index: 50000;
  padding: 10px;
  top: 70px;
  display: none;
}
.setPeopleContent input[type="number"]::-webkit-inner-spin-button,
.setPeopleContent input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
.setPeopleContent input[type="number"] {
  width: 40px;
  text-align: center;
  font-size: 14px;
  background-color: white;
}
.setPeopleContent p {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.setPeopleContent i {
  font-size: 16px !important;
  color: gray;
}

#setPeopleBtn {
  font-size: 14px;
  font-weight: 600;
}
