#myTab {
  width: 200px;
  font-size: 20px;
  padding: 5px 10px;
}
#myTab a {
  color: gray;
}
#myTab li {
  padding: 5px 0;
}
#myPageContentWrap {
  border: 1px soldi black;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#myPagePwCheckWrap {
  width: inherit;
}
#myPageModifyWrap {
  display: inline-block;
  text-align: left;
}
#myPageModifyWrap li span:nth-child(1) {
  color: gray;
}
#myPageModifyWrap li {
  padding: 15px 0;
}
#myPageModifyWrap input {
  height: 35px;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 16px;
  margin: 5px 0;
  padding: 0 5px;
}
#myPageModifyWrap input[type="number"]::-webkit-inner-spin-button,
#myPageModifyWrap input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

#myPageModifyWrap input[type="checkbox"] {
  height: auto;
}

#modifyCompBtn {
  font-size: 16px;
  padding: 5px 30px;
}

#phoneWarning {
  font-size: 14px;
  color: rgb(255, 61, 61);
}
#nickWarning {
  font-size: 14px;
  color: rgb(255, 61, 61);
}

/* ν¬μΈνΈ */
#currentPointBox {
  background-color: #f2f8ff;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  color: #1273e4;
  text-align: left;
}
#currentPointBox strong {
  font-size: 30px;
}
#myPointWrap ul {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
}
#myPointWrap label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #f5f5f5;
  margin: 20px 10px;
  font-size: 14px;
}
#myPointWrap ul input[type="radio"] {
  display: none;
}
#myPointWrap ul input[type="radio"]:checked + label {
  background-color: #1273e4;
  color: white;
}
#pointListBox {
  border-top: 1px solid gray;
  padding: 10px;
}
#notice li:not(#notice li:nth-child(1)) {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0;
}

.noticeDate {
  font-size: 14px;
}
#notice p {
  margin: 10px 0;
}
#notice li:first-child {
  border: none;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
#notice li:first-child button {
  font-size: 16px;
  margin-bottom: 5px;
}
#viewMore {
  border: none;
  background: none;
  width: 100%;
  text-align: center;
}
