#myTab {
  width: 200px;
  font-size: 20px;
  padding: 5px 10px;
}
#myTab a {
  color: gray;
}
#myTab li {
  padding: 5px 0;
}
#myPageContentWrap {
  border: 1px soldi black;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#myPagePwCheckWrap {
  width: inherit;
}
#myPageModifyWrap {
  display: inline-block;
  text-align: left;
}
#myPageModifyWrap li span:nth-child(1) {
  color: gray;
  margin-right: 30px;
}
#myPageModifyWrap li {
  padding: 15px 0;
}
#myPageModifyWrap input {
  height: 35px;
  border: 1px solid #e6e6e6;
  border-radius:5px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
  margin: 5px 0;
  padding: 0 10px;
}
#myPageModifyWrap input[type="number"]::-webkit-inner-spin-button,
#myPageModifyWrap input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
#myPagePwCheckInput{
	padding: 5px 10px;
	border: 1px solid #e6e6e6;
	border-radius: 5px
}

#myPageModifyWrap input[type="checkbox"] {
  height: auto;
}

#modifyCompBtn {
  font-size: 16px;
 
}
#modifyCancelBtn{
	font-size: 16px;
}
#phoneWarning {
  font-size: 14px;
  color: rgb(255, 61, 61);
}
#nickWarning {
  font-size: 14px;
  color: rgb(255, 61, 61);
}

/* 포인트 */
#currentPointBox {
  background-color: #f2f8ff;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  color: #1273e4;
  text-align: left;
}
#currentPointBox strong {
  font-size: 30px;
}
#myPointWrap ul {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
}
#myPointWrap label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #f5f5f5;
  margin: 20px 10px;
  font-size: 14px;
}
#myPointWrap ul input[type="radio"] {
  display: none;
}
#myPointWrap ul input[type="radio"]:checked + label {
  background-color: #1273e4;
  color: white;
}
#pointListBox {
  border-top: 1px solid gray;
  padding: 10px;
}
#myPageNoticeWrap li:not(#notice li:nth-child(1)) {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0;
}

.noticeDate {
  font-size: 14px;
}
#myPageNoticeWrap p {
  margin: 10px 0;
}
#myPageNoticeWrap li:first-child {
  border: none;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
#myPageNoticeWrap li:first-child button {
  font-size: 16px;
  margin-bottom: 5px;
}
#viewMore {
  border: none;
  background: none;
  width: 100%;
  text-align: center;
}
#myResevationWrap{
	text-align: left;
	padding: 0 20px;
}

#myResevationWrap h4{
	border-bottom:1px solid #e6e6e6;
}
#myResevationWrap td{
	text-align: center
}
#myResevationWrap td{
	border-bottom: 1px solid #e6e6e6;
	padding: 5px 0;
	font-size:14px;
	color:gray;
	white-space: pre-line;
}



#myReviewWrap table{
width: 100%;
border-collapse: collapse;
margin-top: 20px;


}
#myReviewWrap table tr{
	border-bottom: 1px solid #e6e6e6;
	font-size:14px;
	height: 30px;
	color:gray;
}
#myReviewWrap table td{
	white-space: pre-line;
}
#myReviewWrap table a{
	color:gray;
	font-size:14px;
}

#monthly button{
	border: 1px solid #e6e6e6;
	width: 30px;
	height: 30px;
	background-color: white;
}

#monthlyLeftWrap img{
	width: 10px;
	height: 10px;
}
#monthlyLeftWrap{
	width:25%;
	text-align:left;
}
#monthlyRightWrap{
	width: 75%;
}
#monthly{
	text-align: center;
	
}
#itemSelect{
	padding: 5px 10px;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	position:absolute;
	left: 0px;
}
#myPageItemManageWrap{
 width: 100%;
}
#monthSales{
	font-size:24px;
	color: #0089ff;
	font-weight: 600;
}
#rightTb{
	width:100%;
	border-collapse: collapse;
}
